In [1]:
import pandas as pd

In [6]:
s1 = pd.Series([71,84,23,65,96,48,45])

In [7]:
type(s1)

pandas.core.series.Series

In [8]:
print(s1)

0    71
1    84
2    23
3    65
4    96
5    48
6    45
dtype: int64

In [10]:
s2 = pd.Series([71,84,23,65,96,48,45] , index=["Anmol" ,"Dhruv","Dev" ,"Rohan","John","don","kon"])

In [12]:
s2["Anmol"]

71

In [13]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [14]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
df.columns

Index(['name', 'age', 'city'], dtype='object')